extends layout

block content
  include nav

  .container.ro-with-nav
    br
    p.text-center.lead.ro-lead-lg Using #{sponsorships.length} / 16 buddy passes
    hr
    ul.list-group
      - for member in sponsorships
        - if (member.unverified)
          li.list-group-item.text-warning
            | #{member.name}
            small
              em &nbsp; pending
            small.pull-right
              em family
        - else
          li.list-group-item
            | #{member.name} 
            small.pull-right
              em family
        
        //- - if (member.unverified)
        //- li.list-group-item
        //-   | #{member.name} 
        //-     small
        //-       em &nbsp; pending
        //-     small.pull-right
        //-       em #{member.relation}
        //- - else
        //- li.list-group-item
        //-   | #{member.name} 
        //-     small.pull-right
        //-       em #{member.relation}
           
      //- li.list-group-item
      //-   | Joyce Leifer
      //-   small.pull-right
      //-     em family
      //- li.list-group-item
      //-   | Ben Schenck
      //-   small.pull-right
      //-     em family
      //- li.list-group-item
      //-   | Cheryl Levin
      //-   small.pull-right
      //-     em friend
      //- li.list-group-item.text-warning
      //-   | James Schenck
      //-   small
      //-     em &nbsp; pending
      //-   small.pull-right
      //-     em family 
      li.list-group-item
        a(href="/buddy") + Buddy