li.list-group-item.list-group-item-danger
    p.panel.well-sm.text-center
        strong.lead #{listing.from} → #{listing.to}, #{listing.day_string}
        br
        | #{listing.depart_string}- #{listing.arrive_string}, #{listing.stops} stop

    .text-center
        .col-xs-3
            span.lead #{listing.available}
            br
            small Available
        .col-xs-3
            span.lead #{listing.listed.length}
            br
            small Listed
        .col-xs-3
            span.lead #{listing.capacity}
            br
            small Capacity
        .col-xs-3.ro-arrow-nav.text-right
            strong
                a(href="/flight/#{listing.id}")
                    i.fa.fa-angle-right